<%- include('../includes/head.ejs') %>
<style>
  .booking-block {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c4bfbf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .booking-block h4 {
    margin-bottom: 10px;
  }

  .booking-block label {
    display: block;
    margin-bottom: 5px;
  }

  .booking-block input[type="date"],
  .booking-block select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .booking-block button {
    background-color: #e595dc;
    color: rgb(14, 13, 13);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }

  .booking-block button:hover {
    background-color: #0056b3;
  }
  .date {
    background-color: #c4bfbf;
  }
</style>
<%- include('../includes/user.ejs') %>

<main class="centered">
  <div class="booking-block">
    <h1>Book the Service Now!</h1>
    <form
      action="/<% if(editing) { %>edit-booking<% } else { %>createBooking<% 
    } %>"
      method="POST"
    >
      <h4>Schedule Your Service Date:</h4>
      <input
        class="date"
        type="date"
        id="date"
        name="date"
        value="<% if (editing) { %><%= new Date(booking.dataValues.date).toISOString().split('T')[0] %><% } else { %>date<% } %>"
        required
      />
      <h4>Select a Time Slot:</h4>
      <select
        class="date"
        id="time"
        name="time"
        required
      >
        <option value="07:00 AM" <% if (editing && booking.dataValues.time === '07:00 AM') { %> selected <% } %> >7:00 AM</option>
        <option value="08:00 AM" <% if (editing && booking.dataValues.time === '08:00 AM') { %> selected <% } %>>8:00 AM</option>
        <option value="09:00 AM" <% if (editing && booking.dataValues.time === '09:00 AM') { %> selected <% } %>>9:00 AM</option>
        <option value="10:00 AM" <% if (editing && booking.dataValues.time === '10:00 AM') { %> selected <% } %>>10:00 AM</option>
        <option value="11:00 AM" <% if (editing && booking.dataValues.time === '11:00 AM') { %> selected <% } %>>11:00 AM</option>
        <option value="12:00 PM" <% if (editing && booking.dataValues.time === '12:00 PM') { %> selected <% } %>>12:00 PM</option>
        <option value="13:00 PM" <% if (editing && booking.dataValues.time === '13:00 PM') { %> selected <% } %>>1:00 PM</option>
        <option value="14:00 PM" <% if (editing && booking.dataValues.time === '14:00 PM') { %> selected <% } %>>2:00 PM</option>
        <option value="15:00 PM" <% if (editing && booking.dataValues.time === '15:00 PM') { %> selected <% } %>>3:00 PM</option>
        <option value="16:00 PM" <% if (editing && booking.dataValues.time === '16:00 PM') { %> selected <% } %>>4:00 PM</option>
        <option value="17:00 PM" <% if (editing && booking.dataValues.time === '17:00 PM') { %> selected <% } %>>5:00 PM</option>
        <option value="18:00 PM" <% if (editing && booking.dataValues.time === '18:00 PM') { %> selected <% } %>>6:00 PM</option>
        <option value="19:00 PM" <% if (editing && booking.dataValues.time === '19:00 PM') { %> selected <% } %>>7:00 PM</option>
      </select>
      <% if(editing) { %>
      <input
        type="hidden"
        value="<%= booking.dataValues.id %>"
        name="bookingId"
      />
      <% } else { %>
      <input
        type="hidden"
        value="<%= service.dataValues.id %>"
        name="serviceId"
      />
      <input
        type="hidden"
        value="<%= service.dataValues.userId %>"
        name="serviceProviderId"
      />
      <% } %>
      <h4>
        <button type="submit">Book</button>
      </h4>
    </form>
  </div>
</main>

<script>
  const dateInput = document.getElementById("date");
  const timeSelect = document.getElementById("time");

  const today = new Date().toISOString().split("T")[0];
  const tenDaysFromNow = new Date(Date.now() + 10 * 24 * 60 * 60 * 1000)
    .toISOString()
    .split("T")[0];

  dateInput.setAttribute("min", today);
  dateInput.setAttribute("max", tenDaysFromNow);

  dateInput.addEventListener("change", function () {
    const selectedDate = new Date(dateInput.value);
    const today = new Date();
    timeSelect.innerHTML = "";

    let startHour = 7;
    let endHour = 19;
    if (
      selectedDate.getDate() === today.getDate() &&
      selectedDate.getMonth() === today.getMonth() &&
      selectedDate.getFullYear() === today.getFullYear()
    ) {
      startHour = Math.max(today.getHours() + 2, startHour);
    }

    for (let i = startHour; i <= endHour; i++) {
      const option = document.createElement("option");
      option.value = `${i < 10 ? "0" + i : i}:00 ${i > 11 ? "PM" : "AM"}`;
      option.text = `${i}:00 ${i > 11 ? "PM" : "AM"}`;
      timeSelect.appendChild(option);
    }
  });
</script>

<%- include('../includes/end.ejs') %>
