<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
<%- include('../includes/user.ejs') %>

<main>
  <% if (services.length > 0) { %>
  <div class="grid">
    <% services.forEach(service => { %> <% const booking = service.booking; %>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= service.service.service %></h1>
      </header>
      <div class="card__image">
        <img
          src="<%= service.service.image_url %>"
          alt="<%= service.service.service %>"
        />
      </div>
      <div class="card__content">
        <% function formatDate(dateString) { const date = new Date(dateString);
        const day = String(date.getDate()).padStart(2, '0'); const month =
        String(date.getMonth() + 1).padStart(2, '0'); const year =
        date.getFullYear(); return `${day}/${month}/${year}`; } %>
        <h6 class="product__author">
          Scheduled on: <%= formatDate(booking.date) %> at <%= booking.time %>
        </h6>
        <h6 class="product__author">Amount Paid: ₹<%= booking.amount %></h6>
      </div>
      <div class="card__content">
        <h6 class="product__author" style="color: burlywood !important">
          Service Provider: <%= service.serviceProvider.name %>
        </h6>
        <h6 class="product__author" style="color: burlywood !important">
          <img
            class="mail"
            src="https://img.icons8.com/?size=60&id=aRZo6233P8ZV&format=png"
            alt="Contact Details"
          />
          <%= service.serviceProvider.email %>
        </h6>
        <div class="card__actions">
          <a
            href="#"
            class="btn"
            style="background-color: azure; font-weight: bold"
            >Booking Status: <%= booking.status %></a
          >
        </div>
      </div>
      <% if(booking.status === "Finished") { %>
      <div class="card__actions">
        <% if(rating.length > 0) { %>
        <h6 class="product__author" style="color: burlywood !important">
          FeedBack Submitted Successfully
        </h6>
        <% } else { %>
        <a href="/getCreateRating/<%= booking.id %>" class="btn"
          >Rate the Service</a
        >
        <% } %>
      </div>
      <div class="card__actions">
        <a
          href="/download-invoice/<%= booking.id %>?serviceId=<%= service.service.id %>"
          class="btn"
          >Download the invoice</a
        >
      </div>
      <% } %> <% if(booking.status === "Cancelled") { %>
      <h6 class="product__author">
        Sorry for inconvience.Your amount will be refunded within 5 to 7 working
        days.
      </h6>
      <% } %>
    </article>
    <% }) %>
  </div>
  <% } else { %>
  <h1>No Services Found</h1>
  <% } %>
</main>

<%- include('../includes/end.ejs') %>
